# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment
.env
.env.*

!.env.example

# IDE
.vscode/
.idea/

# Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Alembic
alembic/versions/*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# UV
uv.lock.bak